server:
  port: 7300
  
spring:
  application:
    name: config
  cloud:
    config:
      label:  master
      server:
        git:
          uri:  https://github.com/alphaeta/configrespo/
          searchPaths:  samples
          username: 
          password: 
          
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:7100/eureka/
  instance:
    prefer-ip-address:  true
    instance-id:  ${spring.cloud.client.ipAddress}:${server.port} 
